body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #2d3c49;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  min-height: 50px;
  display: flex;
  width: 70%;
  margin: auto;
}

.header__logo {
  text-align: left;
  vertical-align: top;
  max-width: 100px;
  margin-top: 12px;
}

.header__title {
  width: 90%;
  text-align: right;
  margin: auto;
}

.header__title > .header_link {
  text-decoration: none;
  color: blue;
  font-weight: 400;
  font-size: 20px;
  padding: 20px;
}

.header__title > .header_link:hover {
  color: red;
}

.intro {
  background-color: #ae70ff;
  width: 70%;
  min-height: 50vh;
  margin: auto;
}

.me {
  padding-left: 10%;
  padding-top: 10%;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 6em;
  color: white;
}

.whatido {
  font-weight: 400;
  font-size: 2.5em;
  padding-left: 10%;
  padding-top: 1%;
}

.service_title {
  font-size: 3em;
  font-weight: 400;
  padding-left: 10%;
  padding-top: 5%;
  color: #fecb79;
}

.services {
    font-weight: 400;
    font-size: 0.8em;
    color: #fecb79;
    padding-left: 5%;

}

.projects {
  width: 70%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}

.description {
  width: 100%;
  font-weight: 400;
  font-size: 2em;
  padding-left: 8%;
  padding-top: 5%;
  color: #7d97ad;
}

.sample_projects {
width: 100%;
margin : 10px auto;
min-height: 25vh;
display: flex;
flex-wrap: wrap;
}

.project_img{
  vertical-align: top;
  max-width: 400px;
}

.project_desc {
  margin-left: 5%;
  margin-top: 2%;
  font-family: 'Source Sans Pro', sans-serif;
}

.project_desc > .project_desc_link {
  text-decoration: none;
  color: black;
}

.project_desc .title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}

.project_desc .brief {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

footer {
  text-align: center;
  padding-top: 1em;
  width: 70%;
  min-height: 50px;
  font-size: 1.5em;
  margin: auto;
  border-top: 3px solid #d2d7da;
}

footer a {
  padding-left: 50px;
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: red;
}

@media screen and (min-device-width: 501px) and (max-device-width: 1000px){
  .sample_projects {
    min-height: 20vh;
  }
}

@media screen and (max-device-width: 500px) {
    .intro, .header, footer, .projects {
         width: 90%;
         margin: auto;
    }

    .header__title > .header_link {
      text-decoration: none;
      color: blue;
      font-weight: 400;
      font-size: 15px;
      padding: 2px;
    }

    .header__logo {
      height: 50px;
      width: 80px;
      margin-top: 5px;
    }

    .me {
      padding-left: 10%;
      padding-top: 10%;
      font-family: "Source Sans Pro";
      font-weight: 600;
      font-size: 4em;
      color: white;
    }

    .whatido {
      font-weight: 400;
      font-size: 2em;
      padding-left: 10%;
      padding-top: 1%;
    }

    .sample_projects {
      min-height: 20vh;
    }

    .project_desc .title {
      text-align: left;
      font-weight: bold;
      font-size: 20px;
    }

    .project_desc .brief {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
    }

    .sample_projects .project_img {
      width: 300px;
    }
}
